<ul>
  <li>Restaurants</li>
  <li>Restaurants</li>
  <li>Restaurants</li>
  <li>Restaurants</li>
  <li>Restaurants</li>
  <li>Restaurants</li>
  <li>Restaurants</li>
  <li>Restaurants</li>
  <li>Restaurants</li>
  <li>Restaurants</li>
</ul>